.weather__card {
  width: 700px;
  padding: 40px 30px;
  background-color: #eeeeee;
  border-radius: 30px;
  border: 2px solid lightblue;
  color: #3c4048;
}
.weather__card h2 {
  font-size: 60px;
  font-weight: 700;
  color: hsl(220, 9%, 26%);
}
.weather__card h5 {
  font-size: 20px;
  font-weight: 400;
  color: #9d9d9d;
}
